.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: var(--color-dark-blue);
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    color: var(--color-light);
    padding: 16px 8vw;

    figure {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 48px;
        }
    }
    
    ul {
        display: flex;
        gap: 40px;
        
        .link {
            color: var(--color-light);
        }
    }

    button {
        display: flex;
        align-items: center;
        background-color: var(--color-dark-blue);
        border: 2px solid var(--color-light);
        border-radius: 16px;
        padding: 8px;
        gap: 8px;
    }

    input {
        background-color: var(--color-dark-blue);
        color: var(--color-light);
        border: none;
    }
}

@media (max-width: 940px) {
    .header {
        flex-direction: column;
        gap: 16px;
        padding: 24px 8vw;

        figure {
            img {
                height: 40px;
            }
        }

        ul {
            gap: 8vw;
        }

        button {
            display: none;
        }
    }
}