.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-blue);
    color: var(--color-light);
    padding: 16px 8vw;

    figure {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 48px;
        }
    }
    
    ul {
        display: flex;
        gap: 40px;
        
        .link {
            color: var(--color-light);
        }
    }

    button {
        display: flex;
        align-items: center;
        background-color: var(--color-dark-blue);
        border: 2px solid var(--color-light);
        border-radius: 16px;
        padding: 8px;
        gap: 8px;
    }

    input {
        background-color: var(--color-dark-blue);
        color: var(--color-light);
        border: none;
    }
}

@media screen {
    
}