.doados {
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16vh 8vw;
        gap: 4vh;

        .livros {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            figure {
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                padding: 24px;
                align-items: center;
                gap: 16px;
                border: 2px solid var(--color-dark-blue);
        
                img {
                    height: 80px;
                }
            }
        }
    }
}

@media (max-width: 940px) {
    .doados {
        main {
            padding: 8vh 8vw;

            .livros {
                align-items: center;
            }
        }
    }
}
